<!-- Coockie Section Start -->
<div class="cookie-bar-section cookiebar-left-section">
    <img src="~/front/images/cookie.png" alt="">
    <div class="content">
        <h3>Aviso de Cookies</h3>
        <p class="font-light">Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Al continuar navegando, acepta nuestro uso de cookies.</p>
        <div class="cookie-buttons">
            <button class="btn btn-solid-default agree-cookies" id="button">Aceptar</button>
            <a href="javascript:void(0)" class="btn default-light1">Rechazar</a>
        </div>
    </div>
</div>
<!-- Coockie Section End -->