@{
    ViewData["Title"] = "Métodos de pago";
    ViewData["MenuIndex"] = 4;
}

<div class="box-head">
    <h3>Métodos de pago</h3>
    <button class="btn btn-solid-default btn-sm fw-bold ms-auto" data-bs-toggle="modal"
        data-bs-target="#addPayment"><i class="fas fa-plus"></i>
        Add New Card</button>
</div>

<div class="card-details-section">
    <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
            <div class="payment-card-detail">
                <div class="card-details">
                    <div class="card-number">
                        <h4>XXXX - XXXX - XXXX - 2548</h4>
                    </div>

                    <div class="valid-detail">
                        <div class="title">
                            <span>valid</span>
                            <span>thru</span>
                        </div>
                        <div class="date">
                            <h3>12/23</h3>
                        </div>
                        <div class="primary">
                            <span class="badge bg-pill badge-light">primary</span>
                        </div>
                    </div>

                    <div class="name-detail">
                        <div class="name">
                            <h5>mark jecno</h5>
                        </div>
                        <div class="card-img">
                            <img src="~/front/images/payment-icon/1.jpg"
                                class="img-fluid blur-up lazyloaded" alt="">
                        </div>
                    </div>
                </div>

                <div class="edit-card">
                    <a data-bs-toggle="modal" data-bs-target="#addPayment"
                        href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                    <a href="javascript:void(0)"><i class="far fa-minus-square"></i>
                        delete</a>
                </div>
            </div>

            <div class="edit-card-mobile">
                <a data-bs-toggle="modal" data-bs-target="#addPayment"
                    href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                <a href="javascript:void(0)"><i class="far fa-minus-square"></i>
                    delete</a>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="payment-card-detail">
                <div class="card-details card-visa">
                    <div class="card-number">
                        <h4>XXXX - XXXX - XXXX - 2548</h4>
                    </div>

                    <div class="valid-detail">
                        <div class="title">
                            <span>valid</span>
                            <span>thru</span>
                        </div>
                        <div class="date">
                            <h3>12/23</h3>
                        </div>
                        <div class="primary">
                            <span class="badge bg-pill badge-light">primary</span>
                        </div>
                    </div>

                    <div class="name-detail">
                        <div class="name">
                            <h5>mark jecno</h5>
                        </div>
                        <div class="card-img">
                            <img src="~/front/images/payment-icon/2.jpg"
                                class="img-fluid blur-up lazyloaded" alt="">
                        </div>
                    </div>
                </div>

                <div class="edit-card">
                    <a data-bs-toggle="modal" data-bs-target="#addPayment"
                        href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                    <a href="javascript:void(0)"><i class="far fa-minus-square"></i>
                        delete</a>
                </div>
            </div>

            <div class="edit-card-mobile">
                <a data-bs-toggle="modal" data-bs-target="#addPayment"
                    href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                <a href="javascript:void(0)"><i class="far fa-minus-square"></i>
                    delete</a>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="payment-card-detail">
                <div class="card-details dabit-card">
                    <div class="card-number">
                        <h4>XXXX - XXXX - XXXX - 2548</h4>
                    </div>

                    <div class="valid-detail">
                        <div class="title">
                            <span>valid</span>
                            <span>thru</span>
                        </div>
                        <div class="date">
                            <h3>12/23</h3>
                        </div>
                        <div class="primary">
                            <span class="badge bg-pill badge-light">primary</span>
                        </div>
                    </div>

                    <div class="name-detail">
                        <div class="name">
                            <h5>mark jecno</h5>
                        </div>
                        <div class="card-img">
                            <img src="~/front/images/payment-icon/3.jpg"
                                class="img-fluid blur-up lazyloaded" alt="">
                        </div>
                    </div>
                </div>

                <div class="edit-card">
                    <a data-bs-toggle="modal" data-bs-target="#addPayment"
                        href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                    <a href="javascript:void(0)"><i class="far fa-minus-square"></i>
                        delete</a>
                </div>
            </div>

            <div class="edit-card-mobile">
                <a data-bs-toggle="modal" data-bs-target="#addPayment"
                    href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                <a href="javascript:void(0)"><i class="far fa-minus-square"></i>
                    delete</a>
            </div>
        </div>
    </div>
</div>