<!-- banner section start -->
<section class="ratio2_1">
    <div class="container">
        <div class="row gy-3">
            <div class="col-xl-5 col-lg-4 col-md-6 custom-col">
                <div class="collection-banner p-center text-center">
                    <a href="shop-left-sidebar.html" class="banner-img">
                        <img src="~/front/images/electronics/banner/1.jpg" class="bg-img blur-up lazyload" alt="">
                    </a>
                    <a href="shop-left-sidebar.html" class="contain-banner">
                        <div class="banner-content with-bg">
                            <h2 class="mb-2 mins-spacing">Headphone</h2>
                            <span class="s-spacing">BUY ONE GET ONE FREE</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 order-lg-0 order-md-1 order-0">
                <div class="collection-banner text-center collection-center">
                    <h6 class="theme-color mb-2">Get Rewarded</h6>
                    <h2>Earn 10% </h2>
                    <h2>Back Reward</h2>
                    <p class="mt-2">Valid online & in-store with select styles.</p>
                    <button onclick="location.href = 'shop-left-sidebar.html';" type="button"
                            class="btn btn-solid-default">
                        Learn more
                    </button>
                </div>
            </div>

            <div class="col-xl-5 col-lg-4 col-md-6 custom-col">
                <div class="collection-banner p-center text-center">
                    <a href="shop-left-sidebar.html" class="banner-img">
                        <img src="~/front/images/electronics/banner/2.jpg" class="bg-img blur-up lazyload" alt="">
                    </a>
                    <a href="shop-left-sidebar.html" class="contain-banner">
                        <div class="banner-content with-bg">
                            <h2 class="mb-2 mins-spacing">Headphone</h2>
                            <span class="s-spacing">BUY ONE GET ONE FREE</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->