<!-- Banner section 2 start -->
<section class="ratio2_1">
    <div class="container">
        <div class="row gy-3">
            <div class="col-xl-9 col-lg-8">
                <div class="timer-banner text-center">
                    <img src="~/front/images/electronics/banner/3.jpg" class="bg-img blur-up lazyload" alt="">
                    <div class="coupon-code theme-color">
                        DGR548548
                    </div>
                    <div class="discount-offer">
                        <h5>
                            New Festival Offer
                            <span class="theme-color">
                                70% OFF <a href="wishlist.html" class="wishlist-icon mt-2">
                                    <i class="fas fa-heart"></i>
                                </a>
                            </span>
                        </h5>
                    </div>
                    <div>
                        <div class="timer">
                            <ul>
                                <li>
                                    <div class="counter">
                                        <div>
                                            <h2 id="days1"></h2>Days
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="counter">
                                        <div>
                                            <h2 id="hours1"></h2>Hour
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="counter">
                                        <div>
                                            <h2 id="minutes1"></h2>Min
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="counter">
                                        <div>
                                            <h2 id="seconds1"></h2>Sec
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="banner-btn-grup">
                        <button onclick="location.href = 'shop-left-sidebar.html';" type="button"
                                class="btn btn-solid-default">
                            Shop Now
                        </button>
                    </div>
                    <div class="social-media">
                        <div class="social-icon">
                            <img src="~/front/images/social-icon/1.png" class="img-fluid blur-up lazyload" alt="">
                            <h6>Facebook</h6>
                        </div>

                        <div class="social-icon">
                            <img src="~/front/images/social-icon/2.png" class="img-fluid blur-up lazyload" alt="">
                            <h6>Instagram</h6>
                        </div>

                        <div class="social-icon">
                            <img src="~/front/images/social-icon/3.png" class="img-fluid blur-up lazyload" alt="">
                            <h6>Twitter</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 small-banner">
                <div class="collection-banner text-center collection-center">
                    <img src="~/front/images/electronics/banner/4.jpg" class="bg-img blur-up lazyload" alt="">
                    <div class="collection-contain">
                        <h6 class="theme-color mb-2">New Headphone</h6>
                        <h2>50% Cash </h2>
                        <h2>Back Reward</h2>
                        <p class="mt-2 mb-0 font-light">Limited offer </p>
                        <p class="font-light mb-0"> Buy now!!</p>
                        <button onclick="location.href = 'shop-left-sidebar.html';" type="button"
                                class="btn btn-solid-default mt-lg-4 mt-2">
                            Shop now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section 2 end -->